{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <form method="POST" action=".">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {# ifequal은 현재 사용되지 않는 문법이라고 함 #}
                {# {% ifequal field.name 'contents' %} #}
                {% if field.name == 'contents' %}
                <textarea class="form-control my-2" name="{{ field.name }}" placeholder="{{ field.label }}"></textarea>
                {% else %}
                <input type="{{ field.field.widget.input_type }}" class="form-control my-2"
                    id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}" />
                {% endif %}
                {# {% endifequal %} #}
            </div>
            {% if field.errors %}
            <sub style="color: red">{{ field.errors }}</sub>
            {% endif %}
            {% endfor %}
            <div class="text-end my-1">
                <button type="submit" class="btn btn-secondary">저장</button>
                <button type="button" class="btn btn-secondary" onclick="history.back()">돌아가기</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}