{% extends "base.html" %}

{% block contents %}
<div class="row my-3">
    <div class="col-12 text-center">
        <h1>로그인</h1>
    </div>
</div>
<div class="row my-3">
    <div class="col-12">
        {{ error }}
    </div>
</div>
<div class="row my-3 justify-content-center">
    <div class="col-12 w-50">
        <form method="POST" action="">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group my-2">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" />
            </div>
            {% if field.errors %}
            <sub style="color:red">{{ field.errors }}</sub>
            {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-secondary w-100 my-1">로그인</button>
            <button type="button" class="btn btn-secondary w-100 my-1"
                onclick="location.href='/user/register'">회원가입</button>
        </form>
    </div>
</div>
{% endblock %}